body
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2
{
    height: 100vh;
}

.container2 .box 
{
    width: 20%;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
    border-radius: 10px 0;
    float: left;
}